:root {
  --primary-color: #6067f1;
  --main-text-color: #9396B9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: sofiaProLight;
  -webkit-font-smoothing: antialiased;
  color: var(--main-text-color);
  font-weight: 700;
}

ul {
  list-style: none;
}

h1, h2, h3, h4 {
  /* color: var(--primary-color); */
}

a {
  text-decoration: none;
}

@font-face {
  font-family: sofiaProLight;
  src: url(../sofiapro-light-webfont.woff);
}

.container {
  padding: 0 1.1rem;
  /* margin: 0 rem; */
}

/* Nav Bar */
.nav-bar {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  padding-top: 1.9rem;
  padding-bottom: 1.9rem;
  /* background-color: pink; */
}

.nav-bar .logo {
  display: flex;
  align-items: center;
}

.nav-bar .logo .logo-name {
  display: inline-block;
  font-size: 1.7rem;
  margin-left: 0.3rem;
  font-weight: 900;
  color: var(--primary-color)
}

.nav-bar .logo .icon {
  width: 38px;
  /* background-color: red; */
}

.nav-bar .menu {
  font-size: 1.4rem;
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.nav-bar .menu fas {
  text-align: center;
}

.intro {
  text-align: center;
}

.intro .intro-text {
  color: var(--primary-color);
  font-weight: 900;
  font-size: 3.3rem;
  line-height: 3.8rem;
}

.intro .intro-description {
  font-size: 1.4rem;
  margin-top: 2.05rem;
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 2.3rem;
}

.intro .input-container {
  position: relative;
}

.intro .disclaimer .more-info-text {
  line-height: 1.4rem;
}

.intro .input-container .input-box {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 30px;
  width: 100%;
  -webkit-appearance: none;
  /* outline: none; */
  border: none;
  box-shadow: 5px 5px 30px rgba(48,95,129,.15);
}

.intro .input-container .input-instructions {
  position: absolute;
  right: 6px;
  top: 38.5px;

  background-color: var(--primary-color);
  opacity: 0.8;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
  font-weight: 900;
}

::placeholder {
  color: #666981;
  font-family: sofiaProLight;
  font-weight: 600;
  letter-spacing: 0.05rem;
  font-size: 0.85rem;
  padding-left: 9px;
}

.disclaimer {
  margin-top: 2.9rem;
}

/* Utilities */
/* Buttons */
.btn {
  color: white;
  background-color: var(--primary-color);
}

.btn-rounded {
  padding: 0.75rem 1.9rem;
  border-radius: 30px;
  width: 63px;
}

/* Text */
.text-xl {

}

.more-info-text {
  font-size: 0.87rem;
}